@inherits ToSic.Cre8magic.Breadcrumbs.MagicBreadcrumbBase
@*
File Purpose:       Show the Breadcrumb
Recommendations:    -
Nice to know:       Uses extension methods like GetHomePage() and GetBreadcrumb()
TODO:
- change aria-current to correctly always be on the current page
- fix mechanism so it shows the home as part of the loop, since it may not always the real home
*@
@if (false) @* Debug *@
{
    <div class="alert alert-info">Breadcrumb Razor</div>
}

<div class="container theme-breadcrumbs d-flex py-2" aria-label="breadcrumb">
    <div class="theme-breadcrumbs-item">
        <a aria-current="page" href="@HomePage.Link">@HomePage.Name</a>
    </div>

    @* Show a ... ellipsis in mobile mode to toggle showing the rest of the breadcrumb *@
    <div class="theme-breadcrumbs-trigger"></div>

    @* Show an > arrow and the page name with link to it for each page in the breadcrumb *@
    @foreach (var p in BreadcrumbKit.Pages)
    {
        <div class="theme-breadcrumbs-item">
            <span class="theme-breadcrumbs-separator"></span>
            <a href="@p.Link">@p.Name</a>
        </div>
    }
</div>