@inherits ToSic.Cre8magic.ComponentsBs5.MagicBreadcrumbBase
@*
File Purpose:       Show the Breadcrumb
Recommendations:    -
Nice to know:       Uses extension methods like GetHomePage() and GetBreadcrumb()
TODO:
- make divs and classes configurable
- fix breadcrumb-trigger, ATM not working, possibly configurable
*@
@if (false) @* Debug *@
{
    <div class="alert alert-info">Breadcrumb Razor</div>
}

<div class="container theme-breadcrumbs d-flex py-2" aria-label="breadcrumb">
    @* Show an > arrow and the page name with link to it for each page in the breadcrumb *@
    @foreach (var p in BreadcrumbKit.Pages)
    {
        <div class="theme-breadcrumbs-item">
            @* Show a separator like ">" *@
            @if (p.Level > 1)
            {
                <span class="theme-breadcrumbs-separator"></span>
            }
            <a aria-current='@(p.IsActive ? "page" : null)' href="@p.Link">@p.Name</a>
        </div>

        @* Show a ... ellipsis in mobile mode to toggle showing the rest of the breadcrumb *@
        @if (p.Level == 2)
        {
            <div class="theme-breadcrumbs-trigger"></div>
        }

    }
</div>