@inject IMagicHat MagicHat
@*
File Purpose:       Show the Login/Logout text buttons
Recommendations:    -
Nice to know:       Inherits the LoginBase, which contains ChangeLogin and i18n for the label
See also:           LoginIcon.razor has the same feature but with icons
*@
@code
{
    /// <inheritdoc cref="ComponentDocs.PageState"/>
    [CascadingParameter] public required PageState PageState { get; set; }
}
@{
    var loginKit = MagicHat.UserLoginKit(PageState);
}
<a Title="@loginKit.Resources.Title" class="@loginKit.Designer.Classes("linkLogin-invisible")" @onclick="loginKit.ToggleLogin">@loginKit.Resources.Title</a>
