@using ToSic.Cre8magic.OqtaneBs5

<h1>Test Dynamic Controls</h1>

@code {
    public const string TopLevelWithSubpagesId = "29";
    //public const string TopLevelWithSubpagesId = "15";

    // Temp for less debugging
    public bool ShowAll = true;
}
@* This wrapper sets the style so the menu is row-focused*@
<div class="navbar-expand-lg">

    <h1>Showing some menus added as dynamic controls to the theme</h1>

    <h2>No Settings</h2>
    <h3>Basic Menu without Setting, name none</h3>
    <MagicMenu></MagicMenu>
    <hr/>

    <h2>Various Settings</h2>
    <h3>Only one specific page (@nameof(MagicMenuSpell.Pick)), no other params</h3>
    <h4>Using Attributes</h4>
    <h4>Using @nameof(MagicMenuSpell)</h4>
    <MagicMenu Settings="new() { Pick = TopLevelWithSubpagesId }"></MagicMenu>

    <hr/>
    <h2>Json Settings</h2>
    <h3>Basic Menu without Setting, name "Main"</h3>
    <MagicMenu Settings='new() { PartName="Main" }'></MagicMenu>

    <h3>Basic Menu without Setting, name "Mobile"</h3>
    <MagicMenu Settings='new() { PartName="Mobile" }'></MagicMenu>
    
    <hr/>
</div>