################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
*.nupkg
**/.vs/
node_modules
*.binlog
