@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Theme.Cre8magicTests.Client
@inherits ThemeBase

@code {
    // Theme Specs
    public override string Name => "Breadcrumb using Controls";
    public override string Panes => PaneNames.Default;

    // Use test parameters from Tonci vs. Daniel
    const bool PCTonci = false;

    public const string TopLevelWithSubpagesId = PCTonci
        ? "97"
        : "29";

    public const int PageWithDeepBreadcrumb = 308;

    protected override void OnParametersSet()
    {
    
    }
}

<main role="main">
    <nav class="navbar navbar-dark bg-primary">
        <Logo />

        <div class="controls ms-auto">
            <div class="controls-group"><UserProfile /> <Login /> <ControlPanel ButtonClass="btn-outline-light" /></div>
        </div>
    </nav>

    <h1>MagicBreadcrumb</h1>

    <h2>Oqtane standard Breadcrumbs (with s)</h2>
    <Breadcrumbs></Breadcrumbs>

    <h2>BasicBreadcrumb, no parameters</h2>
    <BasicBreadcrumb></BasicBreadcrumb>

    <h2>BasicBreadcrumb with data, without Settings</h2>
    <BasicBreadcrumb></BasicBreadcrumb>

    <hr/>

    <h2>Designer</h2>
    <p>No Designer (defaults to BasicDesigner)</p>
    <BasicBreadcrumb></BasicBreadcrumb>
    <p>BasicBreadcrumb with CustomBreadcrumbDesigner</p>
    <BasicBreadcrumb Settings="new() { Designer = new CustomBreadcrumbDesigner() }"></BasicBreadcrumb>

    <hr />

    <h2>Settings</h2>
    <p>Reverse</p>
    <BasicBreadcrumb Settings="new() { Reverse = true }"></BasicBreadcrumb>
    
    <p>Without Home</p>
    <BasicBreadcrumb></BasicBreadcrumb>
    <BasicBreadcrumb Settings="new() { WithHome = true }"></BasicBreadcrumb>
    <BasicBreadcrumb Settings="new() { WithHome = false }"></BasicBreadcrumb>
    
    <p>Without current</p>
    <BasicBreadcrumb></BasicBreadcrumb>
    <BasicBreadcrumb Settings="new() { WithCurrent = false }"></BasicBreadcrumb>
    <BasicBreadcrumb Settings="new() { WithCurrent = true }"></BasicBreadcrumb>

    <p>BasicBreadcrumb with Settings { Start = PageWithDeepBreadcrumb }</p>
    <BasicBreadcrumb Settings="new() { Settings = new() { Start = PageWithDeepBreadcrumb } }"></BasicBreadcrumb>
    <BasicBreadcrumb Settings="new() { Settings = new() { Start = PageWithDeepBreadcrumb }, Designer = new BasicBreadcrumbDesigner() }"></BasicBreadcrumb>
    <BasicBreadcrumb Settings="new() { Settings = new() { Start = PageWithDeepBreadcrumb }, Designer = new CustomBreadcrumbDesigner() }"></BasicBreadcrumb>

    <hr/>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <Pane Name="@PaneNames.Default" />
                </div>
            </div>
        </div>
    </div>
</main>
