@namespace ToSic.Theme.Cre8magicTests
@inherits ThemeBase

@code {
    // Theme Specs
    public override string Name => "Breadcrumb using Controls";
    public override string Panes => PaneNames.Default;
}

<main role="main">
    <nav class="navbar navbar-dark bg-primary">
        <Logo />

        <div class="controls ms-auto">
            <div class="controls-group"><UserProfile /> <Login /> <ControlPanel ButtonClass="btn-outline-light" /></div>
        </div>
    </nav>
    
    <TestBreadcrumbsControls></TestBreadcrumbsControls>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <Pane Name="@PaneNames.Default" />
                </div>
            </div>
        </div>
    </div>
</main>
