@using Oqtane.UI
@using ToSic.Cre8magic.Languages
@inherits ComponentBase
@code {
    /// <inheritdoc cref="Oqtane.UI.PageState"/>
    [CascadingParameter]
    public required PageState PageState { get; set; }

    [Parameter, EditorRequired]
    public required IMagicLanguageKit LanguageKit { get; set; }
}
@{
    Dictionary<string, object?> GetMore() => new()
    {
        { "Language Settings", LanguageKit.Settings },
        { "Languages To Show", LanguageKit.Languages },
        { "Language Design", LanguageKit.Settings.DesignSettings }
    };
}
<MagicDebug Target="@LanguageKit.Settings" Title="Language Settings" More="GetMore()">
    <Content>
        <ul>
            <li>Show: @LanguageKit.Show</li>
        </ul>
    </Content>
</MagicDebug>
