@using ToSic.Cre8magic.ComponentsBs5
@using ToSic.Cre8magic.Languages
@using ToSic.Cre8magic.Settings
@using ToSic.Cre8magic.Settings.Internal.Debug

<h3>Languages with Custom Catalog Tests</h3>

@{
    var catalog = new MagicSettingsCatalog
    {
        Languages = new()
        {
            {
                "default", new()
                {
                    Languages = new()
                    {
                        { "en", new() { Description = "English from  Code" } },
                        { "de", new() { Description = "DE from Code" } },
                    }
                }
            }
        }
    };

    var settings = new MagicLanguageSettings().UseCatalog(catalog);
}
<hr />
<h2>Language Menu with some standard config</h2>
<MagicLanguageMenu Settings="settings"></MagicLanguageMenu>