@using ToSic.Cre8magic.OqtaneBs5
@using ToSic.Cre8magic.Languages
@using ToSic.Cre8magic.Settings
@using ToSic.Cre8magic.Settings.Internal.Debug

<h2>Languages with Custom Spells Book Tests</h2>

<h3>Language Menu with some standard config</h3>
@{
    var book = new MagicSpellsBook
    {
        Languages = new()
        {
            {
                "default", new()
                {
                    Languages = new()
                    {
                        { "en", new() { Description = "English from  Code" } },
                        { "de", new() { Description = "DE from Code" } },
                    }
                }
            }
        }
    };

    var settings = new MagicLanguageSpell().UseSpellsBook(book);
}
<MagicLanguageMenu Settings="settings"></MagicLanguageMenu>

<hr />

<h3>Language Menu Config from UseLanguageSettings</h3>
@{
    var settings2 = new MagicLanguageSpell().UseLanguageSettings(new()
    {
        Languages = new()
        {
            { "en", new() { Label = "En Code", Description = "English from  Code" } },
            { "de", new() { Label = "DE CoDE", Description = "DE from Code" } },
        }
    });
}
<MagicLanguageMenu Settings="settings2"></MagicLanguageMenu>
