@using ToSic.Cre8magic.Controls
@inherits MagicControlBase
@inject IMagicSettingsService SettingsService
@{
    var themeContext = SettingsService.GetThemeContext(PageState);
}
<MagicDebug Target="@themeContext.ThemeSettings" Title="Current Settings for this Theme">
    <Content>
        <h4>Showing Debug for all settings</h4>
    </Content>
</MagicDebug>
