@using ToSic.Cre8magic.Controls
@inherits MagicControlBase
@inject IMagicSettingsService SettingsService
@{
    var allSettings = SettingsService.GetSettings(PageState);
}
<MagicDebug Target="@allSettings" Title="Current Settings for this Theme">
    <Content>
        <h4>Showing Debug for all settings</h4>
    </Content>
</MagicDebug>
