@using Oqtane.UI
@using ToSic.Cre8magic.Components.Internal
@using ToSic.Cre8magic.Controls
@inherits ComponentBase
@code {
    /// <inheritdoc cref="ComponentDocs.PageState"/>
    [CascadingParameter]
    public required PageState PageState { get; set; }

    [Parameter, EditorRequired]
    public required IMagicLanguageKit State { get; set; }
}
@{
    Dictionary<string, object> GetMore() => new()
    {
        { "Language Settings", State.Settings },
        { "Languages To Show", State.Languages },
        { "Language Design", State.ThemeDesignSettings.DesignSettings }
    };
}
<MagicDebug Target="@State.Settings" Title="Language Settings" More="GetMore()">
    <Content>
        <ul>
            <li>Show: @State.Show</li>
        </ul>
    </Content>
</MagicDebug>
