@using ToSic.Cre8magic.Controls
@inherits MagicControlBase
@code
{
    [Parameter, EditorRequired] public bool Show { get; set; }

    [Parameter, EditorRequired] public LanguageService LanguageService { get; set; }

    [Parameter, EditorRequired] public List<MagicLanguage> Languages { get; set; }
}
@{
    var allSettings = MagicSettings.GetSettings(PageState);

    Dictionary<string, object> GetMore() => new()
    {
        { "Language Settings", allSettings.Languages },
        { "Languages To Show", Languages },
        { "Language Design", allSettings.ThemeDesign.DesignSettings }
    };
}
<MagicDebug Target="@allSettings.Languages" Title="Language Settings" More="GetMore()">
    <Content>
        <ul>
            <li>Show: @Show</li>
        </ul>
    </Content>
</MagicDebug>
