@using ToSic.Cre8magic.Controls
@inherits MagicControlBase
@code
{
    [Parameter, EditorRequired]
    public required MagicLanguagesState State { get; set; }
}
@{
    var allSettings = MagicSettings.GetSettings(PageState);

    Dictionary<string, object> GetMore() => new()
    {
        { "Language Settings", State.LanguageSettings },
        { "Languages To Show", State.Languages },
        { "Language Design", allSettings.ThemeDesignSettings.DesignSettings }
    };
}
<MagicDebug Target="@State.LanguageSettings" Title="Languages Settings" More="GetMore()">
    <Content>
        <ul>
            <li>Show: @State.Show</li>
        </ul>
    </Content>
</MagicDebug>
