@using ToSic.Cre8magic.Controls
@using ToSic.Cre8magic.Languages.Settings
@inherits MagicControl
@code
{
    [Parameter, EditorRequired] public bool Show { get; set; }

    [Parameter, EditorRequired] public LanguageService LanguageService { get; set; }

    [Parameter, EditorRequired] public List<MagicLanguage> Languages { get; set; }

    private Dictionary<string, object> GetMore() => new()
    {
        { "Language Settings", AllSettings.Languages },
        { "Languages To Show", Languages },
        { "Language Design", AllSettings.ThemeDesign.Custom }
    };
}
<MagicDebug Target="@AllSettings.Languages" Title="Language Settings" More="GetMore()">
    <Content>
        <ul>
            <li>Show: @Show</li>
        </ul>
    </Content>
</MagicDebug>
