@namespace ToSic.Theme.Cre8magic.StandaloneDemos
@inherits ThemeBase
@using ToSic.Cre8magic.OqtaneBs5

@code {
    public override string Name => PageTitle;

    private const string PageTitle = "Oqtane Base Theme - Languages BS5";

    private const string PageDescription = "This is a standard Oqtane ThemeBase with a Languages.";

    public override string Panes => PaneNames.Default;
}

@* Default box containing menu, intro text etc. - contents is between the tags *@
<MainDefault Name="@Name" Title="@PageTitle" Description="@PageDescription">
    @* Add more variations *@
    <ChildContent>
        <div>Default - no settings</div>
        <MagicLanguageMenu></MagicLanguageMenu>
    </ChildContent>
</MainDefault>
