@using ToSic.Cre8magic.Client.Pages
@code {
    [Parameter, EditorRequired] public IMagicPageList? Menu { get; set; }

    private MagicMenuPage MenuTree => (MagicMenuPage)Menu;

    [Parameter] public bool Standalone { get; set; } = false;

    private Dictionary<string, object?> GetMore() => new()
    {
        { "Menu Settings", MenuTree?.Tree.Settings },
        { "Tree Build Messages", MenuTree?.Tree.Debug },
        { "Log", MenuTree?.SetHelper.LogRoot.Entries }
    };
}
@if (MenuTree?.MenuLevel == 1)
{
    <MagicDebug Target="@MenuTree?.Tree.Settings" Title="Settings (Menu)" More="GetMore()">
        <Button>
            @if (Standalone)
            {
                <text>🪲</text>
            }
            else
            {
                <li>🪲</li>
            }
        </Button>
        <Content>
            <ul>
                <li>Config Name:@MenuTree?.Tree.Settings.ConfigName</li>
                <li>Template: @MenuTree?.Tree.Settings.Template</li>
            </ul>
        </Content>
    </MagicDebug>
}
