@using ToSic.Cre8magic.Controls
@using ToSic.Cre8magic.Menus.Internal
@code {
    [Parameter, EditorRequired]
    public IMagicMenuKit? MenuKit { get; set; }

    [Parameter] public bool Standalone { get; set; } = false;
}
@{
    var typedFactory = MenuKit?.Pages.Factory as MagicMenuNodeFactory;
    var settings = typedFactory?.Settings as MagicMenuSettings;

    Dictionary<string, object?> GetMore() => new()
    {
        { "Menu Settings", settings },
        { "Log", MenuKit?.Context?.LogRoot.Entries }
    };
}
@if (MenuKit?.Pages.MenuLevel == 1)
{
    <MagicDebug Target="@settings" Title="Settings (Menu)" More="GetMore()">
        <Button>
            @if (Standalone)
            {
                <text>🪲</text>
            }
            else
            {
                <li>🪲</li>
            }
        </Button>
        <Content>
            <ul>
                <li>Config Name:@settings?.PartName</li>
                <li>Template: @settings?.Template</li>
            </ul>
        </Content>
    </MagicDebug>
}
