@using ToSic.Cre8magic.Pages
@using ToSic.Cre8magic.Pages.Internal.Menu
@using ToSic.Cre8magic.Controls
@code {
    [Parameter, EditorRequired] public IMagicPageList? Menu { get; set; }

    [Parameter] public bool Standalone { get; set; } = false;
}
@{
    var typedFactory = Menu?.Factory as MagicMenuFactory;
    var settings = typedFactory?.Settings as MagicMenuSettings;

    Dictionary<string, object?> GetMore() => new()
    {
        { "Menu Settings", settings },
        { "Tree Build Messages", Menu?.Context?.DebugMessages },
        { "Log", Menu?.Context?.LogRoot.Entries }
    };
}
@if (Menu?.MenuLevel == 1)
{
    <MagicDebug Target="@settings" Title="Settings (Menu)" More="GetMore()">
        <Button>
            @if (Standalone)
            {
                <text>🪲</text>
            }
            else
            {
                <li>🪲</li>
            }
        </Button>
        <Content>
            <ul>
                <li>Config Name:@settings?.ConfigName</li>
                <li>Template: @settings?.Template</li>
            </ul>
        </Content>
    </MagicDebug>
}
