@using ToSic.Cre8magic.Menus
@using ToSic.Cre8magic.Pages.Internal
@using ToSic.Theme.Cre8magicTests.Client
@inherits ThemeControlBase
@inject IMagicMenuService MenuSvc

@code {
    public override string Name => "Theme1";
    public override string Panes => PaneNames.Default;
}
@{
    // Get the current environment - separate step, as we may change the mechanics later
    var currentEnv = TestParameters.EnvCurrent;

    var topLevelWithSubpagesId = TestParameters.TopLevelWithSubpagesIdDic[currentEnv];

    var topLevelThreePages = string.Join(", ", MenuTestData.dicTopLevelThreePage[currentEnv]);

    var restrictPossiblePages = new MagicPageFactory(PageState)
        .Get(MenuTestData.dicRestrictPages[currentEnv])
        .ToList();

    MenuSvc.NoInheritSettingsWip = true;

    // Default menu designer to be used in most tests here
    var basicDesigner = new BasicMenuDesigner();

    var pageStateDebug = PageState.ToProxy(true);
}


<h1>Menu Tests for @currentEnv</h1>

<div class="navbar-expand-lg">
    
    <h2>No Settings</h2>
    <h3>Basic Menu without Setting, name none</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState)' />
    <hr />

    <hr/>
    <h2>Set MenuPages</h2>
    <h3>Custom menu pages (@string.Join(",", restrictPossiblePages.Select(p => p.Id))) </h3>
    <BasicMenu Menu="MenuSvc.GetMenu(PageState, new() { Pages = restrictPossiblePages })"></BasicMenu>


    <hr/>

    <h2>Designer</h2>
    <h3>Use BasicMenuDesigner</h3>
    <BasicMenu Menu="MenuSvc.GetMenu(PageState, new() { Designer = basicDesigner })" />
    <hr/>

    <h2>Various Settings</h2>
    <h3>Only one specific page @topLevelWithSubpagesId, no other params</h3>
    <BasicMenu Menu="MenuSvc.GetMenu(PageState, new() { Start = topLevelWithSubpagesId, Designer = basicDesigner })"></BasicMenu>

    <h3>Only 3 specific pages (@topLevelThreePages), no other params</h3>
    <BasicMenu Menu="MenuSvc.GetMenu(PageState, new() { Start = topLevelThreePages, Designer = basicDesigner })"></BasicMenu>

    <h3>Only one specific page @topLevelWithSubpagesId, Depth = 0</h3>
    <BasicMenu Menu="MenuSvc.GetMenu(PageState, new() { Start = topLevelWithSubpagesId, Designer = basicDesigner, Depth = 0 })"></BasicMenu>
    
    ---

    <h3>Only one specific page @topLevelWithSubpagesId, Depth = 2</h3>
    <BasicMenu Menu="MenuSvc.GetMenu(PageState, new() { Start = topLevelWithSubpagesId, Designer = basicDesigner, Depth = 2 })"></BasicMenu>

    <hr/>
    <h2>Start at current level</h2>
    <h3>Current level only (should only show one page...)</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() { Start = ".", Designer = basicDesigner })'></BasicMenu>

    <h3>Current level with children</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() { Start = ".", Depth = 1, Designer = basicDesigner })'></BasicMenu>


    <h3>Current level children only</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() {  Start = ".", Children = true, Depth = 0, Designer = basicDesigner })'></BasicMenu>

    <h3>Parent level only</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() { Start = ".", Level = -1, Depth = 0, Designer = basicDesigner })'></BasicMenu>

    <h3>Current from Root Level 1, no children</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() { Start = ".", Level = 1, Children = false, Depth = 0, Designer = basicDesigner })'></BasicMenu>

    <h3>Current from Root Level 1, children</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() { Start = ".", Level = 1, Children = true, Depth = 0, Designer = basicDesigner })'></BasicMenu>

    <h3>Current from Root Level 1, no-children Depth 1</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() { Start = ".", Level = 1, Children = false, Depth = 1, Designer = basicDesigner })'></BasicMenu>

    <h3>Current from Root Level 2</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() { Start = ".", Level = 2, Children = true, Depth = 0, Designer = basicDesigner })'></BasicMenu>


    <hr/>
    <h2>Start with specific numbers</h2>
    <h3>Specific Pages Listed here (Home, myPage, Login)</h3>
    <BasicMenu Menu='MenuSvc.GetMenu(PageState, new() { Start = "1, 3, 5!", Designer = basicDesigner })'></BasicMenu>

</div>
