@using ToSic.Cre8magic.Components.Internal
@using ToSic.Cre8magic.Menus
@using ToSic.Cre8magic.Menus.Internal
@using ToSic.Cre8magic.Settings
@using ToSic.Cre8magic.Themes
@inherits ComponentBase
@inject IMagicSettingsProvider SettingsProviders
@inject IMagicMenuService MenuSvc
@code {
    /// <inheritdoc cref="ComponentDocs.PageState"/>
    [CascadingParameter]
    public required PageState PageState { get; set; }
}
@{
    var redMenuName = "red-menu";
    var unknownMenuName = "unknown-menu";
    var redPartName = "red-part";

    var redDesign = new MagicMenuDesignSettings
    {
        Parts = new()
        {
            { "ul", new() { Classes = "alert alert-warning" } },
        }
    };

    SettingsProviders.Reset();
    SettingsProviders.MenuDesigns.Provide(redMenuName, redDesign);

    var themeSettings = new MagicThemeSettings
    {
        Parts = new()
        {
            { redPartName, new() { Design = redMenuName } }
        }
    };
    SettingsProviders.Themes.Provide("default", themeSettings);
}
<div class="alert alert-info">
    <h4>Menu Provide Design Red</h4>
    <p>
        Goal is that this code will configure a menu design, and the menu will pick it up automatically.
    </p>
    <BasicMenu MenuKit='MenuSvc.MenuKit(PageState, new() { PartName = redMenuName, Start = "." })'></BasicMenu>
    
    <hr />
    <p>
        This is the default
    </p>
    <BasicMenu MenuKit='MenuSvc.MenuKit(PageState, new() { Start = "." })'></BasicMenu>
    
    <hr/>
    <p>
        This is an unknown name
    </p>
    <BasicMenu MenuKit='MenuSvc.MenuKit(PageState, new() { PartName = unknownMenuName, Start = "." })'></BasicMenu>

    <hr />
    <p>
        This uses a part name
    </p>
    <BasicMenu MenuKit='MenuSvc.MenuKit(PageState, new() { PartName = redPartName, Start = "." })'></BasicMenu>

</div>