@using ToSic.Cre8magic
@using ToSic.Cre8magic.Act
@using ToSic.Cre8magic.Settings
@inherits ComponentBase
@inject IMagicSettingsProvider SettingsProviders
@inject IMagicHat MagicHat
@{
    SettingsProviders.Reset();
    SettingsProviders.Analytics.Provide("analytics-test", new() { GtmId = "This-Is-A-Test-GTM-ID" });

    var analyticsKit = MagicHat.AnalyticsKit(new() { SettingsName = "default" });
    var analyticsTestKit = MagicHat.AnalyticsKit(new() { SettingsName = "analytics-test" });
}
<div class="alert alert-info">
    <h4>Debug analytics</h4>
    <p>
        This will set and read the test-analytics.
    </p>
    <p>Default Analytics: @analyticsKit.Settings.GtmId</p>
    <p>Test Analytics: @analyticsTestKit.Settings.GtmId</p>
</div>