@using ToSic.Cre8magic.Act
@using ToSic.Cre8magic.Settings
@inherits ComponentBase
@inject IMagicSpellsProvider SpellsProviders
@inject IMagicAct MagicAct
@{
    SpellsProviders.Reset();
    SpellsProviders.Analytics.Provide("analytics-test", new() { GtmId = "This-Is-A-Test-GTM-ID" });

    var analyticsKit = MagicAct.AnalyticsKit(new() { SettingsName = "default" });
    var analyticsTestKit = MagicAct.AnalyticsKit(new() { SettingsName = "analytics-test" });
}
<div class="alert alert-info">
    <h4>Debug analytics</h4>
    <p>
        This will set and read the test-analytics.
    </p>
    <p>Default Analytics: @analyticsKit.Spell.GtmId</p>
    <p>Test Analytics: @analyticsTestKit.Spell.GtmId</p>
</div>