@using System.Diagnostics
@using ToSic.Cre8magic
@using ToSic.Cre8magic.Analytics
@inherits ComponentBase
@inject IMagicHat MagicHat
@{
    var analyticsKit = MagicHat.AnalyticsKit(new() { SettingsName = "default" });

    // Run some performance tests
    var stopWatch = new Stopwatch();
    var testSettings = new MagicAnalyticsSettings { SettingsName = "analytics-test" };
    stopWatch.Start();
    var analyticsTestKit = MagicHat.AnalyticsKit(testSettings);

    var cycles = 10000;
    for(var i=  0; i < 1000; i++)
        analyticsTestKit = MagicHat.AnalyticsKit(testSettings);

    stopWatch.Stop();
}
<div class="alert alert-info">
    <h4>Debug analytics</h4>
    <p>
        This will ONLY read the test-analytics.
        So if you refresh this page, it will be the same as default, if you go to the other page first, it should have that value.
    </p>
    <p>Default Analytics: @analyticsKit.Settings.GtmId</p>
    <p>Test Analytics: @analyticsTestKit.Settings.GtmId</p>
    <p>
        Time for @cycles cycles: @stopWatch.ElapsedMilliseconds ms / @stopWatch.Elapsed.Seconds seconds
    </p>
</div>