@using ToSic.Cre8magic.Components.Internal
@using ToSic.Cre8magic.Settings
@using ToSic.Cre8magic.Settings.Internal.Debug
@using ToSic.Cre8magic.Settings.Providers
@inherits ComponentBase
@inject IMagicSettingsProvider SettingsProviders
@inject IMagicSettingsService SettingsService
@code {
    /// <inheritdoc cref="ComponentDocs.PageState"/>
    [CascadingParameter]
    public required PageState PageState { get; set; }
}
@{
    SettingsProviders.Reset();
    SettingsProviders.Analytics.Provide("analytics-test", new() { GtmId = "This-Is-A-Test-GTM-ID" });
    var defAnalytics = SettingsService.AnalyticsSettings("default");
    var testAnalytics = SettingsService.NoCachingForDebug(s => s.AnalyticsSettings("analytics-test"));
}
<div class="alert alert-info">
    <h4>Debug analytics</h4>
    <p>
        This will set and read the test-analytics.
    </p>
    <p>Default Analytics: @defAnalytics.GtmId</p>
    <p>Test Analytics: @testAnalytics.GtmId</p>
</div>