@using ToSic.Cre8magic.Client.Services
@using ToSic.Cre8magic.Components.Internal
@using ToSic.Cre8magic.Services.Internal
@inherits ComponentBase
@inject IMagicSettingsService SettingsService
@code {
    /// <inheritdoc cref="ComponentDocs.PageState"/>
    [CascadingParameter]
    public required PageState PageState { get; set; }
}
@{
    // SettingsProviders.Analytics.Provide("analytics-test", new() { GtmId = "This-Is-A-Test-GTM-ID" });
    var defAnalytics = SettingsService.AnalyticsSettings("default");
    var testAnalytics = SettingsService.NoCachingForDebug(s => s.AnalyticsSettings("analytics-test"));
}
<div class="alert alert-info">
    <h4>Debug analytics</h4>
    <p>
        This will ONLY read the test-analytics.
        So if you refresh this page, it will be the same as default, if you go to the other page first, it should have that value.
    </p>
    <p>Default Analytics: @defAnalytics.GtmId</p>
    <p>Test Analytics: @testAnalytics.GtmId</p>
</div>