@using ToSic.Cre8magic.Analytics
@using ToSic.Cre8magic.Breadcrumb
@using ToSic.Cre8magic.Client.Services
@using ToSic.Cre8magic.Settings
@inherits MagicBreadcrumbBase;
@inject IMagicSettingsProviders SettingsProviders
@inject IMagicAnalyticsService Analytics
@inject IMagicSettingsService SettingsService
@code {

    protected override MagicBreadcrumbSettings Customize(MagicBreadcrumbSettings settings) =>
        settings.Designer != null
            ? settings
            : settings with { Designer = new MagicBreadcrumbDesignerBs5() };

}
@{
    SettingsProviders.Analytics.Provide("analytics-test", new MagicAnalyticsSettings() { GtmId = "This-Is-A-Test-GTM-ID" });
    var defAnalytics = SettingsService.AnalyticsSettings("default");
    var testAnalytics = SettingsService.AnalyticsSettings("analytics-test");
}
<div class="alert alert-info">
    <h4>Debug analytics</h4>
    <p>Default Analytics: @defAnalytics.GtmId</p>
    <p>Test Analytics: @testAnalytics.GtmId</p>
</div>